// about section

.about {
  padding: rem(80) 0 rem(140) 0;
  background-color: $white-color;

  &__h2 {
    &:after {
      left: 0;
    }
  }

  &__desc {
    padding-bottom: rem(30);
  }

  .advantage {
    height: rem(155);
    margin-bottom: rem(-60);
    position: relative;

    &__text {
      @include font-type($dark-color, $main-font, rem(24), 1, 0);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(odd) {
      .advantage__text {
        text-align: left;
        left: rem(190);
      }
    }

    &:nth-child(even) {
      .advantage__text {
        right: rem(190);
        text-align: right;
      }
    }
  }

  .furniture {
    background: url(../img/furniture.svg) left center no-repeat;
  }

  .cellphone {
    background: url(../img/cellphone.svg) right center no-repeat;
  }

  .clock {
    background: url(../img/clock.svg) left center no-repeat;
  }

  .certificate {
    background: url(../img/certificate.svg) right center no-repeat;
  }

  .savings {
    background: url(../img/savings.svg) left center no-repeat;
  }

}