// about section

.about {
  padding: 80px 0 0 0;
  background-color: $white-color;

  &__h2 {
    &:after {
      left: 0;
    }
  }

  &__desc {
    padding-bottom: 40px;
  }

  .advantage {

    @include font-type($dark-color, $main-font, 24px, 160px, 0);
    margin-bottom: -60px;

    &:nth-child(odd) {
      padding-left: 190px;
      text-align: left;
    }
    &:nth-child(even) {
      padding-right: 190px;
      text-align: right;
    }

  }

  .furniture {
    background: url(../img/furniture.svg) left center no-repeat;
  }

  .cellphone {
    background: url(../img/cellphone.svg) right center no-repeat;
  }

  .clock {
    background: url(../img/clock.svg) left center no-repeat;
  }

  .certificate {
    background: url(../img/certificate.svg) right center no-repeat;
  }

  .savings {
    background: url(../img/savings.svg) left center no-repeat;
  }



}