// about section

.about {
  padding: 4vh 0 0 0;
  background-color: $white-color;

  &__h2 {
    &:after {
      left: 0;
    }
  }

  &__desc {
    padding-bottom: rem(30);
  }

  .advantage {

    @include font-type($dark-color, $main-font, rem(24), rem(155), 0);
    margin-bottom: rem(-60);

    &:nth-child(odd) {
      padding-left: rem(190);
      text-align: left;
    }

    &:nth-child(even) {
      padding-right: rem(190);
      text-align: right;
    }
  }

  .furniture {
    background: url(../img/furniture.svg) left center no-repeat;
  }

  .cellphone {
    background: url(../img/cellphone.svg) right center no-repeat;
  }

  .clock {
    background: url(../img/clock.svg) left center no-repeat;
  }

  .certificate {
    background: url(../img/certificate.svg) right center no-repeat;
  }

  .savings {
    background: url(../img/savings.svg) left center no-repeat;
  }

}