// footer section

.footer {

  background-color: $dark-color;

  &-wrap {
    position: relative;
    padding-top: rem(20);
    height: 100%;
  }

  &-logo {
    height: 25vh;
    width: 100%;
    background: url('../img/logo.png') center center no-repeat;
  }

  .order {
    width: rem(660);
    margin: auto;

    &__mail,
    &__theme,
    &__desc {
      width: 100%;
      height: rem(60);
      border-radius: rem(5);
      border: none;
      padding: 0 rem(20);
      margin-bottom: rem(20);
    }

    &__desc {
      padding-top: rem(18);
      height: rem(235);
      resize: none;
    }
  }

  &__contacts {
    @include font-type($white-color, $light-font, rem(24), 1.8, 0);
    display: block;
  }

  &__socials {

    width: 100%;

    &_title {
      @include font-type($white-color, $light-font, rem(24), 1.8, 0);
      text-align: center;
    }

    &_list {

      text-align: justify;
      padding: 0;

      &-item {
        display: inline-block;
        font-size: rem(48);
        width: 24.3%;
        text-align: center;
        line-height: rem(75);

        &-link {
          color: $white-color;
          display: inline-block;

          &:focus {
            text-decoration: none;
            color: $white-color;
          }

          &:hover {
            color: $white-color;
          }
        }
      }
    }
  }

  &__upper {
    display: block;
    text-align: center;
    color: $white-color;
    position: relative;
    width: rem(100);
    height: rem(100);
    margin: auto;


    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      font-size: rem(60);
    }

    &_link {
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      right: 0;
      @include font-type($white-color, $main-font, rem(24), 1.8, 0);
      display: inline-block;
      padding-top: rem(50);

      &:focus {
        text-decoration: none;
        color: $white-color;
      }

      &:hover {
        color: $white-color;
      }
    }
  }

  .copyr {
    @include font-type($white-color, $light-font, rem(24), 1.8, 0);
    text-align: center;
  }

  &-bottom {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding-bottom: rem(20);
  }
}