// gallery section

.gallery {

  padding: 4vh 0 0 0;
  background-color: $green-color;

  &__h2 {
    text-align: right;
    &:after {
      right: 0;
    }
  }

  .gallery-preview {
    @extend .clearfix;

    width: 100%;
    height: 70vh;
    position: relative;
    padding: rem(40) 0;

    &__item {
      float: left;
      width: 50%;
      overflow: hidden;
      height: 100%;
      box-shadow: rem(11) rem(11) rem(10) rgba(42, 54, 59, 0.82);

      &.active {
        position: absolute;
        top: 0;
        left: 25%;
      }

      &_img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .gallery-desc {

    padding: 0 rem(150) rem(300) rem(100);
    position: relative;

    &__title {
      @include font-type($dark-color, $bold-font, rem(36), 2, 0);
      margin-bottom: rem(60);
    }
    &__text {
      @include font-type($dark-color, $main-font, rem(24), 1.5, 0);
    }
  }

  .gallery-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    &__list {
      display: inline-block;
      text-align: center;
      width: 100%;

      &:before,
      &:after {
        display: inline-block;
        @include font-type($dark-color, $icon-font, rem(90), 1.5, 0);
        text-shadow: rem(11) rem(11) rem(10) rgba(42, 54, 59, 0.82);
        vertical-align: middle;
        cursor: pointer;
      }

      &:before {
        content: '\f104';
      }

      &:after {
        content: '\f105';
      }

      &_item {
        display: inline-block;
        @include font-type($dark-color, $main-font, rem(90), 1.5, 0);
        text-shadow: rem(4) rem(4) rem(10) rgba(42, 54, 59, 0.82);
        vertical-align: middle;
        margin: 8%;

        &.active {
          color: $red-color;
          font-size: rem(240);
          line-height: 1;
          text-shadow: rem(11) rem(11) rem(10) rgba(42, 54, 59, 0.82);
          margin: 5%;
        }
      }
    }
  }
}