//HEADER

.header {

  background: url(../img/header-bg.jpg) top center no-repeat #212B2F;
  background-size: auto;
  position: relative;

  &-wrap {
    height: 100%;
    background-color: rgba(42,54,59,.8);
  }

  &-top {
    height: 30vh;
    padding-top: rem(90);
  }

  .logo {
    &__link {
      display: block;
      width: rem(285);
      height: rem(212);
      background: url(../img/logo.png) center no-repeat;
      background-size: cover;
    }
  }

  .nav {
    text-align: right;

    &__list {
      &_item {
        &-link {
          @include font-type($white-color, $main-font, rem(24), 2, 0);
          text-decoration: none;
          transition: color ease-in .15s;

          &:hover {
            color: $red-color;
          }
        }
      }
    }
  }

  .intro {

      position: absolute;
      left: 50%;
      top: 35%;
      transform: translateX(-50%);

    &__h1 {
      margin-bottom: 0;
      text-align: center;
    }

    &__text {
      text-align: center;
      @include font-type($white-color, $bold-font, rem(48), 1.4, 0);
      margin-bottom: rem(60);
    }

  }

}