//HEADER

.header {

  background: url(../img/header-bg.jpg) top center no-repeat #212B2F;
  background-size: auto;
  position: relative;

  &-wrap {
    height: 100%;
    background-color: rgba(42,54,59,.8);
  }

  &-top {
    height: 30vh;
    padding-top: 100px;
  }

  .logo {
    &__link {
      display: block;
      width: 285px;
      height: 212px;
      background: url(../img/logo.png) center no-repeat;
      background-size: cover;
    }
  }

  .nav {
    text-align: right;

    &-hidden {
      cursor: pointer;
      margin: 0 0 rem(20) auto;
      width: 60px;
      height: 60px;
      border: 3px solid $white-color;
      border-radius: 50%;
      color: $white-color;
      line-height: 54px;
      text-align: center;
      font-size: 30px;
    }

    &__list {
      &_item {
        &-link {
          @include font-type($white-color, $main-font, 24px, 2, 0);
          text-decoration: none;
        }
      }
    }
  }

  .intro {

      position: absolute;
      left: 50%;
      top: 35%;
      transform: translateX(-50%);

    &__h1 {
      margin-bottom: 0;
      text-align: center;
    }

    &__text {
      text-align: center;
      @include font-type($white-color, $bold-font, 48px, 1.4, 0);
      margin-bottom: 60px;
    }

  }

  .scroll-ind {
    position: absolute;
    left: 50%;
    bottom: rem(100);
    transform: translateX(-50%);
  }

}