@import 'common/box-sizing';
@import 'common/mixins';
@import 'common/clearfix';
@import 'common/functions';

/* local fonts */

@include font-face('BebasBold','BebasBold');
@include font-face('BebasLight','BebasLight');
@include font-face('BebasRegular','BebasRegular');

/* variables */

$main-font: BebasRegular, sans-serif;
$bold-font: BebasBold, sans-serif;
$light-font: BebasLight, sans-serif;

$dark-color: #2a363b;
$white-color: #e7e7e7;
$grey-color: #bdbdbd;
$green-color: #99b898;
$red-color: #e84a5f;

/* global settings */


body {
  margin: 0;
  font-size: 18px;
  font-family: $main-font;
}

html {
  min-height: 100%;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

  &:hover  {
    text-decoration: none;
  }
}

.header,
.about,
.gallery,
.footer {
  height: 100vh;
}

h1 {
  text-align: center;
  @include font-type($white-color, $bold-font, rem(90), 1.4, 0);
  &:first-line,
  &:last-child {
    font-size: rem(48);
  }

}

.button {
  display: block;
  margin: auto;
  width: rem(345);
  height: rem(75);
  background-color: $red-color;
  border-radius: 5px;
  text-align: center;
  line-height: rem(75);
  @include font-type($white-color, $bold-font, rem(48), rem(85), 0);
}


/* import sections */

@import 'common/sections/*.scss';

