-
    var nav = {
        'О работе': '#',
        'Галерея работ': '#',
        'Контакты': '#'
    };

    var advantages = {
        'personal': 'индивидуальный подход к аждому клиенту и проекту',
        'adaptive': 'адаптивный дизайн продукта',
        'time': 'оптимальные сроки выполнения заказа',
        'quality': 'разработка только качественого и современного продукта',
        'price': 'минимальная стоимость, которая устроит и вас и нас'
    }

