// media

@media screen and (max-width: 1200px) {
  /*.container {
      min-width: 970px;
  }*/
}

@media screen and (max-width: 992px) {
  /*.container {
      min-width: 750px;
  }*/
}

@media screen and (max-width: 768px) {
  /* .container {
      min-width: 480px;
    }*/
}

@media screen and (max-width: 480px) {
  /* .container {
        min-width: auto;
    }*/
}