// about section

section.about#about

    .container
        .row
            .col-md-12
                h2.about__h2 О работе
            .col-md-12
                p.about__desc.
                    <strong>Создание персонального сайта</strong> - важный этап  в развитии <b>любого</b> бизнеса<br>
                    мы готовы предложить свои услуги по <strong>комплексной разработке</strong> полностью готового <strong>интернет продукта</strong><br>
                    дальнейшей его <strong>поддержке</strong>, а также <strong>модернизации и поддержке</strong> уже существующих проектов.

            .col-md-12
                .advantages

                    .advantage.furniture
                        .advantage__text <strong>индивидуальный подход</strong> к аждому клиенту и проекту
                    .advantage.cellphone
                        .advantage__text <strong>адаптивный дизайн</strong> проекта
                    .advantage.clock
                        .advantage__text <strong>оптимальные сроки</strong> выполнения заказа
                    .advantage.certificate
                        .advantage__text разработка только <strong>качественого и современного</strong> продукта
                    .advantage.savings
                        .advantage__text <strong>минимальная стоимость</strong>, которая устроит и вас и нас