// about section

section.about#about

    .container
        .row
            h2.about__h2 О работе

            p.about__desc.
                <strong>Создание персонального сайта</strong> - важный этап  в развитии <b>любого</b> бизнеса<br>
                мы готовы предложить свои услуги по <strong>комплексной разработке</strong> полностью готового <strong>интернет продукта</strong><br>
                дальнейшей его <strong>поддержке</strong>, а также <strong>модернизации и поддержке</strong> уже существующих проектов.

            .advantages

                .advantage.furniture <strong>индивидуальный подход</strong> к аждому клиенту и проекту
                .advantage.cellphone <strong>адаптивный дизайн</strong> проекта
                .advantage.clock <strong>оптимальные сроки</strong> выполнения заказа
                .advantage.certificate разработка только <strong>качественого и современного</strong> продукта
                .advantage.savings <strong>минимальная стоимость</strong>, которая устроит и вас и нас