// gallery section

section.gallery

    .container
        .row

            h2.gallery__h2 Галерея работ

            .gallery-wrap

                .col-md-6

                    .gallery-preview
                        img.gallery-preview__item(src="assets/img/gallery/1.png" alt="1")
                        img.gallery-preview__item(src="assets/img/gallery/2.png" alt="2")
                        img.gallery-preview__item(src="assets/img/gallery/3.png" alt="3")

                .col-md-6

                    .gallery-desc
                        h3.gallery-desc__title Landing page
                        p.gallery-desc__text.
                            один из самых популярных на данный момент форматов сайта
                            плюсы - простота, понятность, продоваемость.
                        .gallery-nav
                            ul.gallery-nav__list
                                li.gallery-nav__list_item 1
                                li.gallery-nav__list_item.active 2
                                li.gallery-nav__list_item 3

