// header section

header.header

    .header-wrap

        .container
            .header-top
                .row
                    .col-xs-6
                        .logo
                            a.logo__link(href='#')
                    .col-xs-6
                        nav.nav
                            .nav-hidden
                                .nav-hidden-bar.active
                                    i
                                    i
                                    i
                            ul.nav__list
                                -
                                each href, item in nav
                                        li.nav__list_item
                                            a.nav__list_item-link(href='' + href)= item
            .intro
                h1.intro__h1 Профессиональная<br>разработка сайтов
                p.intro__text "под ключ"
                a.button.intro__order(href='#') Заказать сайт

            .scroll-ind