extends ../_template

block variables
	- var title = 'Разработка сайтов под ключ'

block content

	include ../common/sections/header
	include ../common/sections/about
	include ../common/sections/gallery
	include ../common/sections/footer


